

:root{
    --text-primary:#b6b6b6;
    --text-secondary:#ececec;
    --bg-primary:#18181f;
    --bg-secondary:#919191a1;
    --transition-speed: 600ms;

}
a{
    list-style:none;
}
  
html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    min-height: 100vh;
    background: linear-gradient(-55deg, #fff, #957aa1, #586cc7, #cc6a9b);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    color:white;
    overflow-x:hidden;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}



p, h1, h2, h3, h4, h5, h6, button {
    font-family: 'Lato', sans-serif;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition:width 600ms ease;
  width: 5rem;
  height: 100vh;
  z-index:999;
}

.navbar:hover{
  width:16em;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
}

.navbar:hover .link-text{
  left:80px;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
  font-weight:450;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: flex;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed)
  
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #fcfcfc;
}

.fa-secondary {
  color: #6d94dd;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: #18181f09;
  background: rgb(38, 38, 41);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg{
  transform:rotate(0deg);
  transition:var(--transition-speed)
}

.logo-text
{
  display: flex;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed)
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
  margin-left: 11rem;
}

.navbar:hover .logo-text
  {
    left: 60px;
  }

.logo:hover svg {
  transform: rotate(-180deg);
  transition: 400ms ease;
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

#about{
  height:980px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#about .container{
  padding:50px 35px;
  padding-top:10em;
  display:flex;
  flex-direction: column;
  align-items: center;
  position:relative;
  right:-1.5em;
}

#about p{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight:400;
}

#about .bear{
  width:200px;
  border-radius: 50%;
  box-shadow:0 4px 30px rgba(0,0,0,0.1);
  animation:float 2s ease-in-out infinite;
  backdrop-filter:blur(5px);
}

#about .links{
  padding-top:1em;
}


#about .links img{
  width:60px;
  padding:1.5em;
  transition: opacity 0.2s linear;
 -webkit-transition: opacity 0.2s linear;
 -moz-transition: opacity 0.2s linear;
}



#about .links img:hover{
  opacity:.4;
}

#experience{
  height:980px;
  display:flex;
  justify-content: center;
  align-items: center;
}

#experience .container{
  position:relative;
  height:70%;
  top:-9rem;
}

#experience h1{
  width: 900px;
  font-size:3rem;
  font-weight:400;
  margin-bottom:1rem;
  position:relative;
  right:-13em;
  padding-bottom:1rem;
}

#experience .project_img{
  width:65%;
  border-radius: 16px;
  position: relative;
  right:-21rem;
  transform: translatey(0);
  animation:float 2s ease-in-out infinite;
}

#experience .card{
    width:330px;
    height:450px;
    text-align: center;
    border:1px solid rgba(63, 61, 61, 0.548);
    color:white;
    border-radius:16px;
    box-shadow:0 4px 30px rgb(255, 255, 255);
    position:relative;
    top:-37rem;
    right:-60em;
    transform: translatey(0);
    opacity:.75;
    animation:float 2s ease-in-out infinite;
    background:rgb(235, 183, 230);
    word-break:break-word;
}

#experience .card svg{
  position:relative;
  right:-1.4rem;
  padding-top:4rem;
  width: 12rem;
}

#experience .card h2,p{
  position:relative;
  color:white;
}

#experience .card h2{
  bottom:-2rem;
}

#experience .card p{
  font-weight:500;
  bottom:-1rem;
  padding: 0rem .2rem 0rem .2rem;
}

#education{
  height:980px;
  display:flex;
  align-items: center;
  position:relative;
}

#education .container{
  position:relative;
  height:70%;
  top:-7rem;

}

#education svg{
  fill:black;
}

#education .map{
  width:69%;
  border-radius: 16px;
  position: relative;
  right:-15rem;
  bottom:-2.9rem;
  transform: translatey(0);
  animation:float 2s ease-in-out infinite;
}

#education .card_uni{
  width:500px;
  height:300px;
  text-align: center;
  border:1px solid rgba(63, 61, 61, 0.548);
  color:black;
  border-radius:16px;
  box-shadow:0 4px 30px rgb(255, 255, 255);
  position:relative;
  top:-38.2rem;
  right:-80rem;
  transform: translatey(0);
  opacity:.75;
  animation:float 2s ease-in-out infinite;
  background:rgb(255, 255, 255);
  word-break:break-word;
}

#education .card_uni{
  width:500px;
  height:300px;
  text-align: center;
  border:1px solid rgba(63, 61, 61, 0.548);
  color:rgb(255, 255, 255);
  border-radius:16px;
  box-shadow:0 4px 30px rgb(255, 255, 255);
  position:relative;
  transform: translatey(0);
  opacity:.75;
  animation:float 2s ease-in-out infinite;
  background:rgb(0, 0, 0);
  word-break:break-word;
}

#education .card_hs{
  width:500px;
  height:300px;
  text-align: center;
  border:1px solid rgba(63, 61, 61, 0.548);
  color:rgb(255, 255, 255);
  border-radius:16px;
  box-shadow:0 4px 30px rgb(255, 255, 255);
  position:relative;
  top:-35rem;
  right:-80rem;
  transform: translatey(0);
  opacity:.75;
  animation:float 2s ease-in-out infinite;
  background:rgb(0, 0, 0);
  word-break:break-word;
}

#education svg{
  width:9rem;
}

#education h1{
  font-size:40px;
  width:75%;
  position:relative;
  right:-8em; 
}

#education h5{
  font-size:18px;
}

#hobbies{
  height:980px;
  display:flex;
  align-items: center;
  justify-content: center;
  position:relative;
}

#hobbies .container{
  display:flex;
  position:relative;
  align-items: center;
  top:-7em;
  right:-3em;
  justify-content: space-around;
  width:100%;
  height:60%;
}

#hobbies .card{
    width:330px;
    height:450px;
    text-align: center;
    border:1px solid rgba(63, 61, 61, 0.548);
    color:white;
    border-radius:16px;
    box-shadow:0 4px 30px rgba(0,0,0,0.1);
    position:relative;
    bottom:-5em;
    transform: translatey(0);
    opacity:.6;
    animation:float 2s ease-in-out infinite;
    background:black;
    word-break:break-word;
    
}

#hobbies h1{
  position:relative;
  bottom:-3rem;
  font-size:70px;
  width:200px;
}

#hobbies .card svg{
  width: 9rem;
  min-width: 2rem;
  padding-top:3rem;
}

#hobbies .card h2{
  padding-top:2rem;
}

#hobbies .card p{
  padding: 0rem 1rem 0rem 1rem;
}

#hobbies .card h3{
  padding-top:3.5rem;
  font-size:23px;
}

#hobbies .card h4{
  position:relative;
  bottom:-1.2rem;
  font-size:23px;
  padding-bottom:.5rem;
}

@keyframes float{
  0%{
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.8);
    transform:translatey(0);
  }

  50%{
    box-shadow: 0px 25px 15px 0px rgba(0,0,0,0.4);
    transform:translatey(-20);
  }

  100%{
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.8);
    transform:translatey(0);
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 2000px),
only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 2000px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 2000px),
only screen and (        min-device-pixel-ratio: 2) and ( max-width: 2000px),
only screen and (                min-resolution: 192dpi) and ( max-width: 2000px),
only screen and (                min-resolution: 2dppx) and ( max-width: 2000px) { 
    body{
      zoom:80%;
    }

    .navbar{
      height:2000px;
    }

    #experience .container{
      bottom:-4em;
    }

    #hobbies{
      height:1000px;
    }
    
    #hobbies .container{
      top:-10em;
    }

    #education h1{
      bottom:-3rem;
    }

    #experience img{
      bottom:-5rem;
    }

    #experience h1{
      bottom:-5rem;
    }
}













  
 

